<footer>
    <div class="center">
        <a href="../" title="backlink" class="back-link">🏠 Back to Start</a>
        <span class="all-the-flintas">
            👩🏽 🧑 👩🏿‍🦰 👱🏾 🧏🏾‍♀️ 👵🏾 🧚🏾‍♀️ 👩‍🦰 👩🏿‍🦱 👱🏽‍♀️ 🦸🏿‍♀️ 👩‍🦳 👱‍♀️ 👩🏻 🦹‍♀️</span>
        <small>
            © Made with ❤️ love by
            <a href="https://gitlab.com/kotzendekrabbe" title="Link to Felis gitlab profile">Feli</a>
        </small>
    </div>
</footer>
